@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.form {
  padding: 30px 40px;
}
.form-control {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

.form-control label {
  color: black;
  margin-bottom: 5px;
  display: block;
}

.form-control input {
  border: 2px solid gray;
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control.success input {
  border-color: seagreen;
}
.form-control.fail input {
  border-color: rgba(255, 0, 0, 0.692);
}

.form-control small {
  color: rgba(255, 0, 0, 0.692);
  visibility: hidden;
}
.form-control.fail small {
  color: rgba(255, 0, 0, 0.692);
  visibility: visible;
}

button {
  background-color: #008cba;
  font-size: 12px;
  padding: 10px 14px;
  color: white;
  border: none;
  width: 100%;
}
